<h2><%= @patient.name %></h2>
Name: <%= @patient.name %>
 <h3>Appointments</h3>
<ul>
  <% @patient.appointments.each do |appointment| %>
    <li><%= appointment.appointment_datetime.strftime("%B %d, %Y at %H:%M") %> - <%= link_to appointment.patient.name, patient_path(appointment.doctor) %></li>
  <% end %>
</ul>
